<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title> Board Write </title>
</head>
<body>
<form th:action="@{/board/write}" method="post">
		<table border="1">
			<tr>
				<th><label for="title">Title</label></th>
				<td><input name="title" /></td>
			</tr>
			<tr>
				<th><label for="content">Content</label></th>
				<td><input name="content" /></td>
			</tr>
			<tr>
				<th><label for="writer">Writer</label></th>
				<td><input name="writer" /></td>
			</tr>
			<tr>
				<th><label for="password">Password</label></th>
				<td><input name="password" /></td>
			</tr>
		</table>
		<div>
			<input type="submit" value="Add" /> <a
				href="list.html" th:href="@{/board/list}">List</a>
		</div>
	</form>

</body>
</html>